*.egg-info/
.artifacts/
.cache/
.eggs/
.eslintcache/
.git/
.idea/
.pytest_cache/
.tox/
__pycache__/
__snapshots__/
js_package/
lib/python?.*/
node_modules/

*.[mp]o
*.DS_Store
*.egg
*.log
*.min.css
*.min.js
*.py[cdo]
*.svg
